* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #2980b9, #34495e);
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.btn {
  cursor: pointer;
  background-color: #ffffff;
  color: #2980b9;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 0 #34495e;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 16px;
  transition: all 0.15s ease-in-out;
}

.btn:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0 #34495e;
}

.choose-language {
  position: fixed;
  z-index: 100;
  inset: 0;
  background: linear-gradient(to bottom, #2980b9, #34495e);
  display: none;
  justify-content: center;
  align-items: center;
}

.choose-language.show {
  display: flex;
}

.choose-language form {
  width: 350px;
}

.choose-language h2 {
  margin: 1rem 0 1.5rem;
  font-size: calc(1rem + 1vw);
}

.choose-language .levels {
  display: flex;
  gap: 16px;
}

.choose-language .radio-custom input {
  opacity: 0;
  visibility: hidden;
}

.choose-language .radio-custom input:checked ~ label:before {
  background-color: #34495e;
  border-color: #34495e;
}

.choose-language .radio-custom input:checked ~ label:after {
  border-left: 3px solid #ffffff;
  border-bottom: 3px solid #ffffff;
}

.choose-language .radio-custom label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  font-size: calc(1rem + 0.3vw);
  margin: 8px 0;
  padding-left: 16px;
}

.choose-language .radio-custom label:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  width: 15px;
  height: 15px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  transform: translateY(-50%);
}

.choose-language .radio-custom label:after {
  content: '';
  position: absolute;
  top: 45%;
  left: -11px;
  width: 7px;
  height: 3px;
  transform: translateY(-50%) rotate(-45deg);
}

.choose-language .btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
}

.choose-language .btn-group button {
  text-transform: capitalize;
}

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
}

.custom-select {
  position: relative;
  display: flex;
  flex-direction: column;
}

.custom-select__trigger {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  font-size: calc(1rem + 0.3vw);
  color: #333333;
  background: #ffffff;
  cursor: pointer;
  border-radius: 6px;
}

.custom-options {
  position: absolute;
  display: block;
  top: 100%;
  left: 0;
  right: 0;
  background: #ffffff;
  transition: all 0.25s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 12px 16px;
  font-size: calc(1rem + 0.3vw);
  color: #333333;
  cursor: pointer;
  transition: all 0.25s;
}

.custom-option:hover {
  cursor: pointer;
  background-color: #d9d9d9;
}

.custom-option.selected {
  color: #ffffff;
  background-color: #2980b9;
}

.widget-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px 35px;
}

.stopwatch-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.stopwatch-container .stopwatch .second-container {
  position: absolute;
  top: 60%;
  left: 50%;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(60);
}

.stopwatch-container .stopwatch .second-container:after {
  content: '';
  position: absolute;
  z-index: 3;
  top: 60%;
  left: 50%;
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 2px solid #2980b9;
  transform: translate(-50%, -50%);
}

.stopwatch-container .stopwatch {
  position: relative;
}

.stopwatch-container .stopwatch .stopwatch-second:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 60%;
  left: 50%;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}

.stopwatch-container .stopwatch .stopwatch-second:before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 2px;
  height: 10px;
  border-radius: 130% 130% 0 0;
  background-color: #2980b9;
  transform: translate(-50%, -100%);
}

.stopwatch-container .countdown {
  margin-bottom: -5px;
}

.stopwatch-container .countdown span {
  font-size: 24px;
}

.level-container {
  position: relative;
  width: 86px;
  height: 35px;
  line-height: 35px;
  background-color: #ffffff;
  color: #2980b9;
  margin-left: auto;
  margin-top: 15px;
  border-radius: 50px;
  overflow: hidden;
}

.level-container .level-wrapper {
  position: relative;
  height: 100%;
  z-index: 1;
  display: flex;
}

.level-container .level-wrapper .level-item {
  width: 43px;
  opacity: 0;
  visibility: hidden;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  user-select: none;
  transition: all 0.25s ease-in-out;
}

.level-container .level-wrapper .level-item:nth-child(1) {
  padding-left: 4px;
}

.level-container .level-wrapper .level-item:nth-child(2) {
  padding-right: 10px;
}

.level-container label {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.level-container input {
  display: none;
}

.level-container input:checked ~ .switch {
  left: 55px;
}

.level-container input:checked ~ .level-wrapper .level-item:nth-child(1),
.level-container input:not(:checked) ~ .level-wrapper .level-item:nth-child(2) {
  opacity: 1;
  visibility: visible;
}

.level-container .switch {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 4px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #2980b9;
  transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
}

.hangman-container {
  display: none;
}

.hangman-container.show {
  display: block;
}

.hangman-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 0 0 10px;
}

.hangman-title span {
  font-size: 28px;
  margin-top: -5px;
}

.hangman-title h1 {
  text-transform: capitalize;
  font-weight: 500;
  font-size: calc(1.5rem + 1vw);
}

.hangman-title ~ p {
  text-align: center;
}

.score-container {
  text-align: center;
  padding-top: 15px;
  margin: auto;
}

.score-container h3 {
  font-size: calc(1rem + 0.7vw);
  font-weight: 500;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.score-container .score-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score-container .score-item p {
  font-weight: 600;
  font-size: 1.2rem;
}

.score-container .score-item span {
  font-size: calc(2rem + 0.5vw);
}

.game-container {
  padding: 20px 30px;
  position: relative;
  height: 380px;
  width: 500px;
}

.figure-container {
  fill: transparent;
  stroke: #ffffff;
  stroke-width: 4px;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 40px;
  width: 20px;
}

.letter.space {
  border-bottom: none;
}

.hint {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0 10px;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
}

.hint.hidden {
  opacity: 0;
  visibility: hidden;
}

.hint span {
  margin-right: 5px;
  display: inline-block;
  white-space: nowrap;
}

.hint #hint {
  color: #f7b100;
}

.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 99;
  inset: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup-container.show {
  display: flex;
}

.popup-container.show .popup {
  animation: showUp 0.5s ease-in-out;
}

.popup-container .popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  background-color: #2980b9;
  box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
  padding: 35px 25px;
  width: 450px;
  border-radius: 6px;
}

.popup h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.popup .meaning-item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 0;
}

.popup .meaning-item span {
  color: #f7b100;
  font-size: 20px;
  font-weight: 700;
  margin-top: -2px;
}

.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
  margin-top: 16px;
  position: absolute;
  bottom: -100px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  transition: transform 0.3s ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translate(-50%, -100px);
}

@keyframes showUp {
  from {
    transform: translateY(-1rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes rotate {
  100% {
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 576px) {
  .btn {
    padding: 0.4rem 0.6rem;
  }

  .widget-container {
    padding: 10px 15px;
  }

  .choose-language form {
    width: 250px;
  }

  .custom-select__trigger,
  .custom-option {
    padding: 8px 12px;
  }

  .hangman-container {
    margin-top: -20px;
    padding-top: 30px;
  }

  .hangman-container > p {
    text-align: center;
  }

  .hangman-title {
    justify-content: center;
  }

  .game-container {
    padding: 10px 5px;
    height: 380px;
    width: 300px;
  }

  .figure-container {
    position: relative;
    top: 50px;
  }

  .notification-container {
    width: 90%;
    padding: 12px 10px;
  }

  .hint {
    margin-top: 30px;
    font-size: 16px;
  }

  .word {
    bottom: -15px;
  }

  .letter {
    width: 15px;
    height: 25px;
    font-size: 18px;
  }
}
